<style>
#skills, .jobs { display: none; }
table td, table th { padding: 5px;}
table th { border-bottom: 2px solid #000 ;}
</style>

<div class="container_12">
  
<div class="grid_8 prefix_2 suffix_2">
  <p id="notice"><%= notice %></p>

  <h2><%= @resume.first_name %> <%= @resume.last_name %></h2>

  <p><%= @resume.title %></p>
  <p><%= @resume.header_content %></p>
  <p><%= @resume.main_content %></p>
  <p><%= @resume.summary_content %></p>
</div>
<div class="clear"></div>

<div class="grid_4 prefix_4 suffix_4">
  <h2>Skills <a href="#"><span class="ui-icon ui-icon-plus" style="display:inline-block"></span></a></h2>
</div>
<div class="clear"></div>

<div id="skills" class="grid_4 prefix_3 suffix_5">
<table>
  <thead>
    <th>Name</th>
    <th>Rating</th>
    <th>Years</th>
  </thead>
  <tbody>
<% @resume.skills.each do |skill| %>
<tr>
  <td><b><%= skill.name %></b></td>
  <td><%= skill.rating %></td>
  <td><i><%= skill.years %> years</i></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div class="clear"></div>

<% @resume.jobs.each do |job| %>
<p class="job_title"><a href="#"><%= job.company %></a></p>
<div class="jobs">
  <p><%= job.name %> - <%= job.years %> year(s)</p>
  <%= job.summary %>
</div>
<% end %>

<%= link_to 'Edit', edit_resume_path(@resume) %> -
<%= link_to 'Back', resumes_path %>

</div>

<script>
$(document).ready(function() {
  $("#show_skills").click(function() {
    $("#skills").toggle('blind');
  });
  $(".job_title").click(function() {
    $(this).next().toggle('blind');
  });
  $(".ui-icon").click(function() {
    $("#skills").toggle('blind');
  });
});
</script>



